<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand " routerLink="">Lissa accesorios {{this.route['path']}}</a>
    <button class="navbar-toggler menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="mujer" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            Mujer
          </a>
          <ul class="dropdown-menu" aria-labelledby="mujer">
            <li *ngFor="let categoria of mujer"><a class="dropdown-item" [routerLink]="['Mujer', categoria]" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown">{{categoria}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown" class="dropdown-item" routerLink="Mujer" role="button">Todos los articulos</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="hombre" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            Hombre
          </a>
          <ul class="dropdown-menu" aria-labelledby="hombre">
            <li *ngFor="let categoria of hombre"><a class="dropdown-item"  [routerLink]="['Hombre', categoria]" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown">{{categoria}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown" class="dropdown-item" routerLink="Hombre" role="button">Todos los articulos</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="nino" role="button" data-bs-toggle="dropdown" aria-expanded="false" routerLinkActive="active">
            Niño
          </a>
          <ul class="dropdown-menu" aria-labelledby="nino">
            <li *ngFor="let categoria of nino"><a class="dropdown-item"  [routerLink]="['Nino', categoria]" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown">{{categoria}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown" class="dropdown-item" routerLink="Nino" role="button">Todos los articulos</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>