<div class="container-fluid items mx-auto mt-4">
  <nav class="pt-1" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ><a routerLink=""><i class="bi bi-house"></i></a></li>
      <ng-template [ngIf]="categoria" [ngIfElse]="todo">
        <li class="breadcrumb-item" ><a [routerLink]="['../']" [queryParams]="{'pag': 1}">{{genero}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{categoria}}</li>
      </ng-template>
      <ng-template #todo>
        <li class="breadcrumb-item active" aria-current="page">{{genero}}</li>
      </ng-template>
    </ol>
  </nav>
  <div class="row">
    <app-componente-producto role="button" class="col-12 col-sm-6 col-md-4 col-lg-3 my-3"  *ngFor="let p of productos; let i = index" [imagenes]='p.imagenes' [id]="p.productId" ></app-componente-producto>
  </div>
  <nav aria-label="Page navigation" class="py-4">
    <!-- <p>pagina actual: {{pagina}}</p> -->
    <ul class="pagination justify-content-center">
      <li class="page-item" [ngClass]="{'disabled' : pagina === 1}">
        <a class="page-link" [routerLink]="['./']" [queryParams]="{'pag': pagina - 1}" aria-label="Anterior">
          <span aria-hidden="true">&laquo;</span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
      </li>
      <li class="page-item" *ngFor="let holder of numPag; let i = index" [ngClass]="{'active' : i + 1 === pagina}"><a class="page-link" [routerLink]="['./']" [queryParams]="{'pag': i + 1}" >{{i + 1}}</a></li>
      <li class="page-item" [ngClass]="{'disabled': pagina === numPag.length}">
        <a class="page-link" [routerLink]="['./']" [queryParams]="{'pag': pagina + 1}" aria-label="Siguiente">
          <!-- <span class="sr-only">Next</span> -->
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>