<div class="container-fluid">
  <nav class="pt-1" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ><a routerLink=""><i class="bi bi-house"></i></a></li>
      <ng-template [ngIf]="categoria" [ngIfElse]="todo">
        <li class="breadcrumb-item" ><a [routerLink]="['..']">{{genero}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{categoria}}</li>
      </ng-template>
      <ng-template #todo>
        <li class="breadcrumb-item active" aria-current="page">{{genero}}</li>
      </ng-template>
    </ol>
  </nav>
  <div class="row">
    <app-componente-producto class="col-12 col-sm-6 col-md-4 col-lg-3 my-3" [imagenes]='imagenes' *ngFor="let p of productos; let i = index" [id]="'producto-' + i"></app-componente-producto>
  </div>
</div>