<section class="card">
  <div [id]="'productIndicators'+ id" class="carousel carousel-dark slide" attr.data-bs-ride="carousel" attr.data-bs-interval="false" >
    <ol class="carousel-indicators">
      <li [attr.data-bs-target]="'#productIndicators' + id"  *ngFor="let e of imagenes;let i = index; let f = first" [attr.data-bs-slide-to]="i" [ngClass]="{'active':f}"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let imagen of imagenes; let i = index; let f = first" [ngClass]="{'active':f}" [routerLink]="['Producto']" [queryParams]="{'id': id}" (click)="viewProduct()">
        <img [src]='imagen.url' class="d-block w-100" [alt]='imagen.alt'>
      </div>
    </div>
    <a class="carousel-control-prev" [href]="'#productIndicators' + id" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" [href]="'#productIndicators' + id" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</section>