<footer class="container-fluid bg-light pt-1">
  <h5 class="my-4 text-start text-md-center">Contacta con nosotros</h5>
  <div class="row links">
    <div class="col-md-4 col-sm-12 text-md-center my-md-5 my-3">
      <button type="button" class="btn">
        <p class="m-0"><i class="bi bi-whatsapp"></i> +57 316 3155095</p>
      </button>
    </div>
    <div class="col-md-4 col-sm-12 text-md-center my-md-5 my-3">
      <button type="button" class="btn">
        <p class="m-0"><i class="bi bi-instagram"></i> @lissaaccesorios</p>
      </button>
    </div>
    <div class="col-md-4 col-sm-12 text-md-center my-md-5 my-3">
      <button type="button" class="btn">
        <p class="m-0"><i class="bi bi-google"></i> lissaaccesorios.av</p>
      </button>
    </div>
  </div>
  <h5 class="my-4 text-start text-md-center">Más información</h5>
  <div class="row">
    <ul class="links text-left text-md-center">
      <li class="d-md-inline-block d-block px-4 py-1 py-md-3"><button class="btn" routerLink="sobre-nosotros">Acerca de nosotros</button></li>
      <li class="d-md-inline-block d-block px-4 py-1 py-md-3"><button class="btn" routerLink="">Términos y condiciones</button></li>
      <li class="d-md-inline-block d-block px-4 py-1 py-md-3"><button class="btn" routerLink="">Guía de tallas</button></li>
      <li class="d-md-inline-block d-block px-4 py-1 py-md-3"><button class="btn" routerLink="">Política de garantía</button></li>
    </ul>
  </div>
  <p class="text-start text-sm-center py-4 m-0">&copy; Lissa Accesorios S.L 2021. Moda y asesoramiento</p>
</footer>