<div class="item mx-auto mt-4">
  <button class="btn" (click)="goBack()"><i class="bi bi-arrow-left-circle"></i></button>
  <div class="card mb-3 mx-2 mx-md-auto producto">
    <div [id]="'productIndicators'+ producto.productId" class="card-img-top carousel carousel-dark slide" attr.data-bs-ride="carousel" attr.data-bs-interval="false" >
      <ol *ngIf="producto.imagenes.length > 1" class="carousel-indicators">
        <li [attr.data-bs-target]="'#productIndicators' + producto.productId"  *ngFor="let e of producto.imagenes;let i = index; let f = first" [attr.data-bs-slide-to]="i" [ngClass]="{'active':f}"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let imagen of producto.imagenes; let i = index; let f = first" [ngClass]="{'active':f}">
          <img [src]='imagen.url' class="d-block w-100" [alt]='imagen.alt'>
        </div>
      </div>
      <a *ngIf="producto.imagenes.length > 1" class="carousel-control-prev" [href]="'#productIndicators' + producto.productId" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a *ngIf="producto.imagenes.length > 1" class="carousel-control-next" [href]="'#productIndicators' + producto.productId" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{producto.titulo}}</h5>
      <p class="card-text">{{producto.descripcion}}</p>
      <a href="#" class="btn btn-success"><i class="bi bi-cart3"></i> Comprar por whatsapp</a>
    </div>
  </div>
</div>