<div class="container-fluid px-0 py-4">
  <div class="texto py-3 px-3 px-md-0 texto mx-auto">
    <h1>Nuestra historia</h1>
    <img src="https://picsum.photos/1920/1080" class="rounded mx-auto d-block local mb-3" alt="">
    <h2>Titulo</h2>
    <p>Contenido de sobre nosotros.<br><hr> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe qui recusandae magni libero perferendis facere amet autem fugit vitae unde architecto repudiandae deleniti, similique mollitia. Perferendis non aspernatur deserunt fuga error quasi porro laudantium harum id explicabo, dicta, dignissimos vitae, amet voluptate est consectetur beatae! Officia accusamus totam voluptatem nam!</p>
  </div>
</div>